# Byte-compiled / Python compiled files
__pycache__/
*.pyc

# Virtual environment
myvenv/
env/
venv/
history/

# Credentials
.env
.env_copy

# Terraform
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup