/* Chatbox Styles */
.chat-box {
    width: 350px;
    height: 450px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
    background-color: #333;
    border: 3px solid var(--highlight-color);
    color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: none;
    flex-direction: column;
    z-index: 1000;
}

.chat-box .chat-log {
    padding: 15px;
    height: 350px;
    overflow-y: auto;
    background-color: #ffe6ea;
    border-bottom: 2px solid var(--primary-color);
}

.chat-box .chat-log p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.chat-box .chat-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid var(--primary-color);
    outline: none;
    font-size: 14px;
    background-color: #fff0f2;
}

.chat-box button {
    width: 80px;
    padding: 10px;
    background-color: var(--highlight-color);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.chat-box button:hover {
    background-color: #ff8a85;
    transform: scale(1.1);
}

#chat-toggle {
    width: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;

    display: flex; /* Add flexbox to align icon and text */
    align-items: center; /* Center vertically */
    gap: 10px; /* Space between icon and text */
}

/* Add bear image as icon */
#chat-toggle img {
    height: 35px; /* Size of icon */
    width: 35px;
    border-radius: 50%; /* Optional, for a rounded style */
    background-color: #fff; /* Optional, set a background colour for the icon */
    padding: 3px; /* Optional, adds a little internal space */
}

/* Hover avec icône */
#chat-toggle:hover {
    background-color: #ff8a85;
<<<<<<< HEAD
    transform: scale(1.1);}
=======
    transform: scale(1.1);
}
>>>>>>> f7c4604be6fd2bdf1bb6edbf92e48145e2df2ad1

/* Close Button Styles */
.chat-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff5a5f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.chat-close:hover {
    background-color: #ff8a85;
}