<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{{ neighborhood.name }} Details</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/general_and_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/neighborhood_detail.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>
<body class="neighborhood-details-page">
    <!-- Header Section -->
    <header>
        <div class="logo">
            <img src="{% static 'images/rentwise_logo.png' %}" alt="RentWise Berlin Logo">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'neighborhood_list' neighborhood.borough.slug %}" class="header-button">Neighborhoods</a>
                    <a href="{% url 'home' %}" class="header-button">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    {% include 'neighborhoods/chatbox.html' %}
    <!-- Main Content -->
    <div class="container">
        <div id="info">
            <h1>{{ neighborhood.name }} Details</h1>

            <!-- Rent Data Visualization -->
            <h2>Rent Data</h2>
            {% if rent_data %}
                <div class="chart-container">
                    <canvas id="rentDataChart"></canvas>
                </div>
            {% else %}
                <p>No rent data available.</p>
            {% endif %}

            <!-- Demographics Visualizations -->
            <h2>Demographics</h2>

            <!-- Ethnic Distribution Visualization -->
            <h3>Ethnic Makeup of the Neighborhood</h3>
            {% if demographics %}
                <div class="chart-container">
                    <canvas id="ethnicDistributionChart"></canvas>
                </div>
            {% else %}
                <p>No ethnicity data available.</p>
            {% endif %}

            <!-- Age Distribution Visualization -->
            <h3>Age Distribution in the Neighborhood</h3>
            {% if demographics %}
                <div class="chart-container">
                    <canvas id="ageDistributionChart"></canvas>
                </div>
            {% else %}
                <p>No age distribution data available.</p>
            {% endif %}

            <!-- Amenities Visualization -->
            <h2>Amenities</h2>
            {% if amenities_data_json %}
                <div class="chart-container">
                    <canvas id="amenitiesChart"></canvas>
                </div>
            {% else %}
                <p>No amenities data available.</p>
            {% endif %}
        </div>


        

        <!-- Map Section -->
        <div id="map-links-container">
            <div id="neighborhood-map"></div>
             <!-- Rental Links Section -->
            <div id="rental-links">
                <h2>Find Rentals on Popular Websites</h2>
                <ul>
                    <li><a href="https://www.immobilienscout24.de" target="_blank">ImmobilienScout24</a></li>
                    <li><a href="https://www.immowelt.de" target="_blank">Immowelt</a></li>
                    <li><a href="https://www.ebay-kleinanzeigen.de/s-wohnung-mieten/c223l3331" target="_blank">eBay Kleinanzeigen</a></li>
                    <li><a href="https://www.wg-gesucht.de" target="_blank">WG-Gesucht</a></li>
                    <li><a href="https://www.wohnungsboerse.net" target="_blank">Wohnungsboerse</a></li>
                </ul>
            </div>
            
        <!-- Transport Stations Section -->
        <div id="transport-stations">
            <h2>Transport Stations</h2>
            {% if transport_data %}
                <ul class="transport-list">
                    {% for station, types in transport_data.items %}
                        <li>
                            <strong>{{ station }}</strong>: 
                            {% for transport_type in types %}
                                {{ transport_type }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No transport stations available.</p>
            {% endif %}
        </div>
    </div>
</div>

    <!-- Mapbox GL JS -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/6.5.0/turf.min.js"></script>

    <!-- JavaScript for Charts and Map -->
    <script type="text/javascript">
        mapboxgl.accessToken = 'pk.eyJ1IjoibW9yb3dpbmQiLCJhIjoiY20xN3NoODc2MHEwaDJxcXhnZjBqOHZreiJ9.hE85kqOC-_iHDHTlwcMf-A';

        // Initialize the map
        const neighborhoodLongitude = parseFloat("{{ neighborhood.longitude }}");
        const neighborhoodLatitude = parseFloat("{{ neighborhood.latitude }}");

        const neighborhoodMap  = new mapboxgl.Map({
            container: 'neighborhood-map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [neighborhoodLongitude, neighborhoodLatitude],
            zoom: 16
        });

        fetch(`/neighborhood_data_api/{{ neighborhood.borough.slug }}/`)
            .then(response => response.json())
            .then(geojsonData => {
                const neighborhoodFeature = geojsonData.features.find(
                    feature => feature.properties.name === "{{ neighborhood.name }}"
                );
                if (!neighborhoodFeature) {
                    console.error("Neighborhood GeoJSON not found.");
                    return;
                }
                const center = turf.centroid(neighborhoodFeature).geometry.coordinates;
                neighborhoodMap.flyTo({ center: center, zoom: 12 });
                neighborhoodMap.addSource('neighborhood-border', {
                    'type': 'geojson',
                    'data': { "type": "FeatureCollection", "features": [neighborhoodFeature] }
                });
                neighborhoodMap.addLayer({
                    'id': 'neighborhood-border-layer',
                    'type': 'line',
                    'source': 'neighborhood-border',
                    'paint': { 'line-color': '#ff0000', 'line-width': 2 }
                });
            })
            .catch(error => console.error('Error fetching neighborhood data:', error));

        // Rent Data Visualization
        {% if rent_data %}
        const rentData = {
            labels: ['Average', 'Min', 'Max'],
            datasets: [{
                label: 'Rent (€)',
                data: [
                    {{ rent_data.avg_price }},
                    {{ rent_data.min_price }},
                    {{ rent_data.max_price }}
                ],
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0'],
            }]
        };

        new Chart(document.getElementById('rentDataChart'), {
            type: 'bar',
            data: rentData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        formatter: value => `${value}€`
                    }
                }
            }
        });
        {% endif %}

        // Ethnic Distribution Visualization
        {% if demographics %}
        const ethnicDistributionData = {
            labels: ['Germans', 'France', 'Italy', 'Spain', 'Poland', 'Greece', 'Austria', 'Romania', 'United Kingdom', 'Russia', 'Ukraine', 'Turkey', 'Iran', 'Lebanon', 'Syria', 'Vietnam', 'USA', 'Not Clearly Assignable'],
            datasets: [{
                label: 'Ethnic Distribution (%)',
                data: [
                    {{ demographics.germans }},
                    {{ demographics.france }},
                    {{ demographics.italy }},
                    {{ demographics.spain }},
                    {{ demographics.poland }},
                    {{ demographics.greece }},
                    {{ demographics.austria }},
                    {{ demographics.romania }},
                    {{ demographics.united_kingdom }},
                    {{ demographics.russia }},
                    {{ demographics.ukraine }},
                    {{ demographics.turkey }},
                    {{ demographics.iran }},
                    {{ demographics.lebanon }},
                    {{ demographics.syria }},
                    {{ demographics.vietnam }},
                    {{ demographics.usa }},
                    {{ demographics.not_clearly_assignable }}
                ],
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40', '#C9CBCF', '#8A2BE2', '#DC143C', '#00CED1', '#FFD700', '#ADFF2F', '#FF4500', '#7FFF00', '#FF6347', '#40E0D0', '#BA55D3', '#FFDAB9'],
            }]
        };

        new Chart(document.getElementById('ethnicDistributionChart'), {
            type: 'pie',
            data: ethnicDistributionData,
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });

        // Age Distribution Visualization
        const ageDistributionData = {
            labels: ['Under 6', '6-15', '15-18', '18-27', '27-45', '45-55', '55 and older'],
            datasets: [{
                label: 'Age Distribution (%)',
                data: [
                    {{ demographics.under_6 }},
                    {{ demographics.six_to_15 }},
                    {{ demographics.fifteen_to_18 }},
                    {{ demographics.eighteen_to_27 }},
                    {{ demographics.twenty_seven_to_45 }},
                    {{ demographics.forty_five_to_55 }},
                    {{ demographics.fifty_five_and_more }}
                ],
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40', '#C9CBCF'],
            }]
        };

        new Chart(document.getElementById('ageDistributionChart'), {
            type: 'bar',
            data: ageDistributionData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        formatter: value => `${value}%`
                    }
                }
            }
        });
        {% endif %}

        // Amenities Visualization
        {% if amenities_data_json %}
        const amenitiesData = JSON.parse(`{{ amenities_data_json|escapejs }}`);
        
        // Extract labels and values for amenities chart
        const amenityLabels = Object.keys(amenitiesData);
        const amenityCounts = Object.values(amenitiesData);

        if (amenityLabels.length > 0 && amenityCounts.length > 0) {
            new Chart(document.getElementById('amenitiesChart'), {
                type: 'pie',
                data: {
                    labels: amenityLabels,
                    datasets: [{
                        data: amenityCounts,
                        backgroundColor: [
                            '#36A2EB', '#FFCE56', '#FF6384', '#4BC0C0', '#9966FF', '#FF9F40', '#B4E197', '#F3B2B2'
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: true,
                            position: 'bottom'
                        }
                    }
                }
            });
        }
        {% endif %}
    </script>


    <footer>
        <p>&copy; 2024 RentWise Berlin. All Rights Reserved.</p>
    </footer>
</body>
</html>
