<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{{ neighborhood.name }} Details</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</head>
<body class="neighborhood-details-page">
    <!-- Header Section -->
    <header>
        <div class="logo">
            <img src="{% static 'images/rentwise_logo.png' %}" alt="RentWise Berlin Logo">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'neighborhood_list' neighborhood.borough.slug %}" class="header-button">Neighborhoods</a>
                    <a href="{% url 'home' %}" class="header-button">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    {% include 'neighborhoods/chatbox.html' %}
    <!-- Main Content -->
    <div class="container">
        <div id="info">
            <h1>{{ neighborhood.name }} Details</h1>

            <!-- Rent Data Visualization -->
            <h2>Rent Data</h2>
            {% if rent_data %}
                <div class="chart-container">
                    <canvas id="rentDataChart"></canvas>
                </div>
            {% else %}
                <p>No rent data available.</p>
            {% endif %}

            <!-- Demographics Visualization -->
            <h2>Demographics</h2>
            {% if demographics %}
                <div class="chart-container">
                    <canvas id="demographicsChart"></canvas>
                </div>
                <h3>Age Distribution</h3>
                <div class="chart-container">
                    <canvas id="ageDistributionChart"></canvas>
                </div>
            {% else %}
                <p>No demographics data available.</p>
            {% endif %}

            <!-- Amenities Visualization -->
            <h2>Amenities</h2>
            {% if amenities %}
                <div class="chart-container">
                    <canvas id="amenitiesChart"></canvas>
                </div>
            {% else %}
                <p>No amenities data available.</p>
            {% endif %}
        </div>

        <!-- Map Section -->
        <div id="map-links-container">
            <div id="neighborhood-map"></div>
            <div id="rental-links">
                <h2>Find Rentals on Popular Websites</h2>
                <ul>
                    <li><a href="https://www.immobilienscout24.de" target="_blank">ImmobilienScout24</a></li>
                    <li><a href="https://www.immowelt.de" target="_blank">Immowelt</a></li>
                    <li><a href="https://www.ebay-kleinanzeigen.de/s-wohnung-mieten/c223l3331" target="_blank">eBay Kleinanzeigen</a></li>
                    <li><a href="https://www.wg-gesucht.de" target="_blank">WG-Gesucht</a></li>
                    <li><a href="https://www.wohnungsboerse.net" target="_blank">Wohnungsboerse</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Mapbox GL JS -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/6.5.0/turf.min.js"></script>

    <!-- JavaScript for Charts and Map -->
    <script type="text/javascript">
        mapboxgl.accessToken = 'pk.eyJ1IjoibW9yb3dpbmQiLCJhIjoiY20xN3NoODc2MHEwaDJxcXhnZjBqOHZreiJ9.hE85kqOC-_iHDHTlwcMf-A';

        // Initialize the map
        const neighborhoodLongitude = parseFloat("{{ neighborhood.longitude }}");
        const neighborhoodLatitude = parseFloat("{{ neighborhood.latitude }}");

        const neighborhoodMap  = new mapboxgl.Map({
            container: 'neighborhood-map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [neighborhoodLongitude, neighborhoodLatitude],
            zoom: 16
        });

        fetch(`/neighborhood_data_api/{{ neighborhood.borough.slug }}/`)
            .then(response => response.json())
            .then(geojsonData => {
                const neighborhoodFeature = geojsonData.features.find(
                    feature => feature.properties.name === "{{ neighborhood.name }}"
                );
                if (!neighborhoodFeature) {
                    console.error("Neighborhood GeoJSON not found.");
                    return;
                }
                const center = turf.centroid(neighborhoodFeature).geometry.coordinates;
                neighborhoodMap.flyTo({ center: center, zoom: 12 });
                neighborhoodMap.addSource('neighborhood-border', {
                    'type': 'geojson',
                    'data': { "type": "FeatureCollection", "features": [neighborhoodFeature] }
                });
                neighborhoodMap.addLayer({
                    'id': 'neighborhood-border-layer',
                    'type': 'line',
                    'source': 'neighborhood-border',
                    'paint': { 'line-color': '#ff0000', 'line-width': 2 }
                });
            })
            .catch(error => console.error('Error fetching neighborhood data:', error));

        // Rent Data Visualization
        {% if rent_data %}
        const rentData = {
            labels: ['Average', 'Min', 'Max'],
            datasets: [{
                label: 'Rent (€)',
                data: [
                    {{ rent_data.avg_price }},
                    {{ rent_data.min_price }},
                    {{ rent_data.max_price }}
                ],
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0'],
            }]
        };

        new Chart(document.getElementById('rentDataChart'), {
            type: 'bar',
            data: rentData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        formatter: value => `${value}€`
                    }
                }
            }
        });
        {% endif %}

        // Demographics Visualization
        {% if demographics %}
        const demographicsData = {
            labels: ['Family-Friendly %', 'Foreign Residents %'],
            datasets: [{
                label: 'Demographics',
                data: [
                    {{ demographics.family_friendly_percentage }},
                    {{ demographics.foreign_residents_percentage }}
                ],
                backgroundColor: ['#FFCE56', '#FF6384'],
            }]
        };

        new Chart(document.getElementById('demographicsChart'), {
            type: 'bar',
            data: demographicsData,
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });

        const ageDistribution = JSON.parse(`{{ demographics.age_distribution|escapejs }}`);
        new Chart(document.getElementById('ageDistributionChart'), {
            type: 'pie',
            data: {
                labels: Object.keys(ageDistribution),
                datasets: [{
                    data: Object.values(ageDistribution),
                    backgroundColor: ['#36A2EB', '#FFCE56', '#FF6384', '#4BC0C0']
                }]
            }
        });
        {% endif %}

        // Amenities Visualization
        {% if amenities %}
        const amenityLabels = {{ amenities_labels|safe }};
        const amenityCounts = {{ amenities_counts|safe }};
        new Chart(document.getElementById('amenitiesChart'), {
            type: 'pie',
            data: {
                labels: amenityLabels,
                datasets: [{
                    data: amenityCounts,
                    backgroundColor: ['#36A2EB', '#FFCE56', '#FF6384', '#4BC0C0', '#9966FF', '#FF9F40']
                }]
            }
        });
        {% endif %}
    </script>

    <footer>
        <p>&copy; 2024 RentWise Berlin. All Rights Reserved.</p>
    </footer>
</body>
</html>