<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentWise Berlin - Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/rentwise_logo.png' %}" alt="RentWise Berlin Logo">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}" class="header-button">Home</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <div class="login-container">
            <h2>Create Your Account</h2>
            <form method="POST" class="register-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Username</label>
                    {{ form.username }}
                </div>
                
                <div class="form-group">
                    <label for="id_email">Email Address</label>
                    {{ form.email }}
                </div>
                
                <div class="form-group">
                    <label for="id_password1">Password</label>
                    {{ form.password1 }}
                </div>
                
                <div class="form-group">
                    <label for="id_password2">Confirm Password</label>
                    {{ form.password2 }}
                </div>
                
                <button type="submit" class="body-button">Registrer</button>
            </form>
        </div>
    </div>

    <footer>
      <p>&copy; 2024 RentWise Berlin. All Rights Reserved.</p>
    </footer>
</body>
</html>